<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ng-container *ngFor="let habitacion of habitaciones">
        <ion-item  *ngIf="habitacion.estado === 'limpia'" (click)="selectHabitacion(habitacion)">
          <ion-label>Habitacion {{ habitacion.numero }}</ion-label>
        </ion-item>
      </ng-container>

    </ion-col>
    <ion-col size="6">
      <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input formControlName="telefono" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RFC</ion-label>
          <ion-input formControlName="rfc" type="tel"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Razon social</ion-label>
          <ion-input formControlName="razon_social" type="tel"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Precio</ion-label>
          <ion-input formControlName="precio" type="number"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Aceptar</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
