<div style="width: 50%;">
  AA
  <ion-item *ngFor="let habitacion of habitaciones" (click)="selectHabitacion(habitacion)">
    <ion-label>Habitacion {{ habitacion.numero }}</ion-label>
  </ion-item>
</div>
<div style="width: 50%;">
  <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input formControlName="telefono" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RFC</ion-label>
      <ion-input formControlName="rfc" type="tel"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Razon social</ion-label>
      <ion-input formControlName="razon_social" type="tel"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Aceptar</ion-button>
  </form>
</div>
